.first_quote p {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

body {
  font-size: 62.5%;
  font-family: source_sans_prolight; }
  body nav {
    background-color: #081925;
    height: 50px;
    width: 100%; }
    body nav #logo {
      width: 30px;
      height: 30px;
      -webkit-background-size: 30px 30px;
      background-size: 30px 30px;
      background-position: center;
      background-image: url("../../images/logo_ei.svg");
      text-indent: -9999px;
      display: block;
      padding: 10px 0px 10px 30px;
      background-repeat: no-repeat; }
    body nav .navigation {
      width: 35%;
      float: right;
      margin-top: -30px;
      margin-right: 30px; }
      body nav .navigation a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        font-family: AlteDIN1451Mittelschrift-Regular;
        position: relative;
        padding-bottom: 4px; }
      body nav .navigation a:hover:after {
        width: 100%; }
      body nav .navigation a:after {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        border-bottom: 5px solid white; }
  body h2 {
    font-family: AlteDIN1451Mittelschrift-Regular;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 40px; }
  body .line {
    width: 20%;
    margin-left: 40px;
    height: 5px;
    background-color: black;
    margin: 10px 0px 20px 40px; }

.container .landing {
  height: 100vh;
  width: 100%;
  background-color: #081925; }
  .container .landing .container-stukken {
    width: 250px;
    height: 322px;
    margin: 0 auto;
    position: relative;
    /*background-image: url(../../images/logo_ei.svg);
    background-repeat: no-repeat;*/ }
    .container .landing .container-stukken .stuk1 {
      background-image: url(../../images/stukken_ei/stuk1.svg);
      background-repeat: no-repeat;
      width: 93px;
      height: 72px;
      position: absolute;
      top: 7px;
      left: 29px; }
    .container .landing .container-stukken .stuk2 {
      background-image: url(../../images/stukken_ei/stuk2.svg);
      background-repeat: no-repeat;
      width: 98px;
      height: 130px;
      position: absolute;
      top: 80px;
      left: 4px; }
    .container .landing .container-stukken .stuk3 {
      background-image: url(../../images/stukken_ei/stuk3.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 74px;
      position: absolute;
      top: 79px;
      left: 28px; }
    .container .landing .container-stukken .stuk4 {
      background-image: url(../../images/stukken_ei/stuk4.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 110px;
      position: absolute;
      top: 7px;
      left: 30px; }
    .container .landing .container-stukken .stuk5 {
      background-image: url(../../images/stukken_ei/stuk5.svg);
      background-repeat: no-repeat;
      width: 119px;
      height: 147px;
      position: absolute;
      top: 5px;
      left: 100px; }
    .container .landing .container-stukken .stuk6 {
      background-image: url(../../images/stukken_ei/stuk6.svg);
      background-repeat: no-repeat;
      width: 111px;
      height: 119px;
      position: absolute;
      top: 39px;
      left: 133px; }
    .container .landing .container-stukken .stuk7 {
      background-image: url(../../images/stukken_ei/stuk7.svg);
      background-repeat: no-repeat;
      width: 95px;
      height: 134px;
      position: absolute;
      top: 152px;
      left: 6px; }
    .container .landing .container-stukken .stuk8 {
      background-image: url(../../images/stukken_ei/stuk8.svg);
      background-repeat: no-repeat;
      width: 109px;
      height: 137px;
      position: absolute;
      top: 151px;
      left: 47px; }
    .container .landing .container-stukken .stuk9 {
      background-image: url(../../images/stukken_ei/stuk9.svg);
      background-repeat: no-repeat;
      width: 59px;
      height: 157px;
      position: absolute;
      top: 111px;
      left: 100px; }
    .container .landing .container-stukken .stuk10 {
      background-image: url(../../images/stukken_ei/stuk10.svg);
      background-repeat: no-repeat;
      width: 108px;
      height: 104px;
      position: absolute;
      top: 111px;
      left: 135px; }
    .container .landing .container-stukken .stuk11 {
      background-image: url(../../images/stukken_ei/stuk11.svg);
      background-repeat: no-repeat;
      width: 80px;
      height: 159px;
      position: absolute;
      top: 110px;
      left: 133px; }
    .container .landing .container-stukken .stuk12 {
      background-image: url(../../images/stukken_ei/stuk12.svg);
      background-repeat: no-repeat;
      width: 116px;
      height: 54px;
      position: absolute;
      top: 267px;
      left: 49px; }
    .container .landing .container-stukken .stuk13 {
      background-image: url(../../images/stukken_ei/stuk13.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 98px;
      position: absolute;
      top: 213px;
      left: 153px; }
    .container .landing .container-stukken .stuk14 {
      background-image: url(../../images/stukken_ei/stuk14.svg);
      background-repeat: no-repeat;
      width: 105px;
      height: 159px;
      position: absolute;
      top: 151px;
      left: 164px; }

header {
  width: 100%;
  height: 450px;
  padding: 20px 0px; }
  header h1 {
    font-family: Didot-Italic;
    font-size: 2rem;
    width: 30%;
    padding-left: 50px;
    float: left; }
  header .logo_thomasmore {
    float: left;
    display: block;
    width: 50%; }
  header p {
    clear: both;
    font-family: source_sans_prolight;
    padding: 40px;
    font-size: 1rem; }

.first_quote {
  width: 100%;
  height: 120px;
  background-color: #081925;
  text-align: center;
  padding-top: 50px; }
  .first_quote p {
    color: white;
    width: 80%;
    font-size: 1.9rem;
    font-family: AlteDIN1451Mittelschrift-Regular; }
    .first_quote p span {
      font-family: Didot-Italic;
      font-size: 1.5rem; }

.watwedoen {
  width: 100%;
  height: 320px;
  padding-top: 50px; }
  .watwedoen h3 {
    font-family: Didot-Italic;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px 0px 10px 40px; }
  .watwedoen-onderzoek {
    font-size: 1rem;
    padding-bottom: 10px;
    padding: 10px 40px 0px 40px; }

.watwedoen-werkwijze-werklijn {
  margin: auto;
  margin-bottom: -6px;
  height: 10px;
  width: 80%;
  border-bottom: 1px black solid; }

.watwedoen-werkwijze {
  margin: auto;
  width: 80%;
  text-align: justify; }

.watwedoen-werkwijze div {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  transition: all 0.3s ease; }

.bol:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: black; }

.binbol {
  float: none;
  background-color: black; }

.binbol:hover {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0.2; }

.watwedoen-werkwijze:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
