.first_quote {
  content: "";
  display: table;
  clear: both; }

.first_quote p, .first_quote-line, .second_quote p, .second_quote-line {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

body {
  font-size: 62.5%;
  font-family: source_sans_prolight; }
  body nav {
    background-color: #081925;
    height: 50px;
    width: 100%; }
    body nav #logo {
      width: 30px;
      height: 30px;
      -webkit-background-size: 30px 30px;
      background-size: 30px 30px;
      background-position: center;
      background-image: url("../../images/logo_ei.svg");
      text-indent: -9999px;
      display: block;
      padding: 10px 0px 10px 30px;
      background-repeat: no-repeat; }
    body nav .navigation {
      width: 35%;
      float: right;
      margin-top: -30px;
      margin-right: 30px; }
      body nav .navigation a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        font-family: AlteDIN1451Mittelschrift-Regular;
        position: relative;
        padding-bottom: 4px; }
      body nav .navigation a:hover:after {
        width: 100%; }
      body nav .navigation a:after {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        border-bottom: 5px solid white; }
  body h2 {
    font-family: AlteDIN1451Mittelschrift-Regular;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 40px; }
  body .line {
    width: 80px;
    margin-left: 40px;
    height: 5px;
    background-color: black;
    margin: 10px 0px 20px 40px; }

.container .landing {
  height: 200vh;
  width: 100%;
  background-image: url(../../images/bg_probeer-01.svg);
  background-repeat: no-repeat;
  background-position: cover; }
  .container .landing .container-stukken {
    width: 250px;
    height: 322px;
    margin: 0 auto;
    position: fixed;
    left: 200px;
    top: 200px;
    font-size: 20px;
    color: white;
    left: -9999px;
    /*background-image: url(../../images/logo_ei.svg);
    background-repeat: no-repeat;*/ }
    .container .landing .container-stukken #stuk1final {
      width: 93px;
      height: 72px;
      position: absolute;
      top: 7px;
      left: 29px; }
    .container .landing .container-stukken #stuk1 {
      background-image: url(../../images/stukken_ei/stuk1.svg);
      background-repeat: no-repeat;
      width: 93px;
      height: 72px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk2final {
      width: 98px;
      height: 130px;
      position: absolute;
      top: 80px;
      left: 4px; }
    .container .landing .container-stukken #stuk2 {
      background-image: url(../../images/stukken_ei/stuk2.svg);
      background-repeat: no-repeat;
      width: 98px;
      height: 130px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk3final {
      width: 100px;
      height: 74px;
      position: absolute;
      top: 79px;
      left: 28px; }
    .container .landing .container-stukken #stuk3 {
      background-image: url(../../images/stukken_ei/stuk3.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 74px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk4final {
      width: 100px;
      height: 110px;
      position: absolute;
      top: 7px;
      left: 30px; }
    .container .landing .container-stukken #stuk4 {
      background-image: url(../../images/stukken_ei/stuk4.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 110px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk5final {
      width: 119px;
      height: 147px;
      position: absolute;
      top: 5px;
      left: 100px; }
    .container .landing .container-stukken #stuk5 {
      background-image: url(../../images/stukken_ei/stuk5.svg);
      background-repeat: no-repeat;
      width: 119px;
      height: 147px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk6final {
      width: 111px;
      height: 119px;
      position: absolute;
      top: 39px;
      left: 133px; }
    .container .landing .container-stukken #stuk6 {
      background-image: url(../../images/stukken_ei/stuk6.svg);
      background-repeat: no-repeat;
      width: 111px;
      height: 119px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk7final {
      width: 95px;
      height: 134px;
      position: absolute;
      top: 152px;
      left: 6px; }
    .container .landing .container-stukken #stuk7 {
      background-image: url(../../images/stukken_ei/stuk7.svg);
      background-repeat: no-repeat;
      width: 95px;
      height: 134px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk8final {
      width: 109px;
      height: 137px;
      position: absolute;
      top: 151px;
      left: 47px; }
    .container .landing .container-stukken #stuk8 {
      background-image: url(../../images/stukken_ei/stuk8.svg);
      background-repeat: no-repeat;
      width: 109px;
      height: 137px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk9final {
      width: 59px;
      height: 157px;
      position: absolute;
      top: 111px;
      left: 100px; }
    .container .landing .container-stukken #stuk9 {
      background-image: url(../../images/stukken_ei/stuk9.svg);
      background-repeat: no-repeat;
      width: 59px;
      height: 157px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk10final {
      width: 108px;
      height: 104px;
      position: absolute;
      top: 111px;
      left: 135px; }
    .container .landing .container-stukken #stuk10 {
      background-image: url(../../images/stukken_ei/stuk10.svg);
      background-repeat: no-repeat;
      width: 108px;
      height: 104px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk11final {
      width: 80px;
      height: 159px;
      position: absolute;
      top: 110px;
      left: 133px; }
    .container .landing .container-stukken #stuk11 {
      background-image: url(../../images/stukken_ei/stuk11.svg);
      background-repeat: no-repeat;
      width: 80px;
      height: 159px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk12final {
      width: 116px;
      height: 54px;
      position: absolute;
      top: 267px;
      left: 49px; }
    .container .landing .container-stukken #stuk12 {
      background-image: url(../../images/stukken_ei/stuk12.svg);
      background-repeat: no-repeat;
      width: 116px;
      height: 54px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk13final {
      width: 100px;
      height: 98px;
      position: absolute;
      top: 213px;
      left: 153px; }
    .container .landing .container-stukken #stuk13 {
      background-image: url(../../images/stukken_ei/stuk13.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 98px;
      position: absolute;
      transition: 0.1s; }
    .container .landing .container-stukken #stuk14final {
      width: 105px;
      height: 159px;
      position: absolute;
      top: 151px;
      left: 164px; }
    .container .landing .container-stukken #stuk14 {
      background-image: url(../../images/stukken_ei/stuk14.svg);
      background-repeat: no-repeat;
      width: 105px;
      height: 159px;
      position: absolute;
      transition: 0.1s; }

header {
  width: 100%;
  padding: 20px 0px; }
  header .left h1 {
    font-family: Didot-Italic;
    font-size: 2rem;
    width: 30%;
    padding-left: 50px;
    float: left;
    padding-top: 40px; }
  header p {
    clear: both;
    font-family: source_sans_prolight;
    padding: 40px;
    font-size: 1rem;
    line-height: 21px; }

.first_quote {
  width: 100%;
  height: 120px;
  background-image: url(../../images/bg_quote.png);
  background-position: center center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; }
  .first_quote p {
    color: white;
    width: 80%;
    font-size: 1.9rem;
    font-family: AlteDIN1451Mittelschrift-Regular;
    margin-top: 5px; }
    .first_quote p span {
      font-family: Didot-Italic;
      font-size: 1.5rem;
      margin-top: 0; }
  .first_quote-line {
    height: 3px;
    background-color: white;
    width: 70px;
    margin-top: 20px; }

@media (min-width: 768px) {
  header .left {
    float: left;
    width: 40%; }
  header .right {
    float: left;
    width: 57%;
    margin-right: 3%; } }
/*PROCESLIJN*/
.watwedoen {
  width: 100%;
  height: 320px;
  padding-top: 50px; }
  .watwedoen h3 {
    font-family: Didot-Italic;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px 0px 10px 40px; }
  .watwedoen-onderzoek {
    font-size: 1rem;
    padding-bottom: 10px;
    padding: 10px 40px 0px 40px; }

.watwedoen-werkwijze-werklijn {
  margin: auto;
  margin-bottom: -6px;
  margin-top: 40px;
  height: 10px;
  width: 70%;
  border-bottom: 1px black solid; }

.watwedoen-werkwijze {
  margin: auto;
  width: 70%;
  text-align: justify; }

.watwedoen-werkwijze div {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  transition: all 0.3s ease; }

.bol:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: black; }

.binbol {
  float: none;
  background-color: black; }

.binbol:hover {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0.2; }

.watwedoen-werkwijze:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block; }

.ticked {
  width: 20px;
  height: 20px; }

/*PROCESUITLEG*/
.watwedoen > div > div > p {
  font-family: source_sans_prolight;
  font-size: 1rem;
  padding-bottom: 10px;
  padding: 0px 40px 0 80px;
  min-height: 60px;
  line-height: 20px; }

.watwedoen {
  margin-bottom: 40px;
  float: left;
  height: auto; }

.watwedoen > div > div > h3 {
  line-height: 34px; }

.watwedoen > div > div > h3 > span {
  text-align: center;
  font-family: AlteDIN1451Mittelschrift-Regular;
  font-size: 22px;
  background-color: black;
  float: left;
  padding: 3px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  border-radius: 50%;
  margin-right: 15px; }

.second_quote {
  width: 100%;
  height: 120px;
  background-image: url(../../images/bg_quote.png);
  background-position: center center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px; }
  .second_quote p {
    color: white;
    width: 80%;
    font-size: 1.9rem;
    font-family: AlteDIN1451Mittelschrift-Regular;
    margin-top: 5px; }
    .second_quote p span {
      font-family: Didot-Italic;
      font-size: 1.5rem;
      margin-top: 0; }
  .second_quote-line {
    height: 3px;
    background-color: white;
    width: 70px;
    margin-top: 20px; }

footer {
  /*mobile*/
  background-color: #0c2334;
  padding: 50px 40px 0px 40px;
  color: white;
  font-size: 1rem;
  background-image: url("../../images/contactform_bg.svg"), none;
  repeat: none;
  background-repeat: no-repeat;
  background-position: center bottom;
  /*placeholder styling*/ }
  footer h2 {
    padding-left: 0px; }
  footer .line {
    margin-left: 0px;
    background-color: white;
    margin-bottom: 50px; }
  footer #radios {
    margin-bottom: 50px; }
    footer #radios .radiotxt {
      padding-left: 20px; }
    footer #radios input {
      margin-bottom: 15px; }
  footer textarea {
    width: 100%;
    border: 0;
    color: black;
    border: none;
    overflow: auto;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  footer #emailadres {
    width: 100%;
    height: 40px;
    border: 0;
    margin-top: -3px;
    border-top: 1px solid black;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  footer ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
    font-style: italic; }
  footer :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
    font-style: italic; }
  footer ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
    font-style: italic; }
  footer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-style: italic; }
  footer #btnbericht {
    width: 100%;
    height: 40px;
    border: 0;
    background-color: white;
    margin-top: 25px;
    text-transform: uppercase; }
  footer #socialMedia {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 180px;
    margin-top: 60px;
    margin-bottom: 40px; }
  footer #socialMedia li {
    border-radius: 50%;
    margin: 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    list-style: none;
    background: #262626;
    border: 1px solid #1e1e1e; }
  footer #socialMedia li#linkedIn {
    margin-right: 0px; }
  footer #socialMedia li a {
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-indent: -9999px;
    background-repeat: no-repeat; }
  footer #socialMedia li a:hover {
    background-color: #eb4328;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  footer ul#socialMedia li#twitter a {
    background-image: url("../../images/twitter.svg"), none;
    background-color: #3a589c; }
  footer ul#socialMedia li#facebook a {
    background-image: url("../../images/facebook.svg"), none;
    background-color: #20a8e2; }
  footer ul#socialMedia li#linkedIn a {
    background-image: url("../../images/linkedin.svg"), none;
    background-color: #0071b3; }
  footer #visitekaartje p {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px; }
  footer #visitekaartje #company {
    text-align: center; }
  footer #visitekaartje #address {
    padding-left: 65px; }
  footer #visitekaartje #projectby p {
    /*padding-left: 65px;*/
    text-align: center; }
  footer #visitekaartje #projectby #tmlogo {
    text-indent: -9999px;
    display: block;
    background-image: url("../../images/TM_logo.png");
    width: 128.25px;
    height: 50px;
    background-size: 128.25px 50px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 20px; }
  footer #visitekaartje #projectby #tmlink {
    display: none; }
  @media (min-width: 801px) {
    footer {
      height: 630px;
      background-position: right bottom;
      background-size: 500px; }
      footer textarea {
        width: 70%;
        height: 165px; }
      footer #emailadres {
        width: 70%; }
      footer #btnbericht {
        clear: left;
        width: 200px; }
      footer #socialMedia {
        width: 156px;
        margin-top: -42px; }
      footer #socialMedia {
        height: 42px; }
      footer #socialMedia li {
        height: 42px;
        width: 42px; }
      footer #socialMedia li a {
        height: 42px;
        width: 42px; }
      footer #visitekaartje {
        margin-top: -312px;
        float: right;
        width: 160px;
        text-align: left; }
        footer #visitekaartje #company {
          text-align: left; }
        footer #visitekaartje p {
          width: 160px; }
        footer #visitekaartje #projectby p {
          text-align: left; }
        footer #visitekaartje #projectby #tmlogo {
          width: 160px;
          margin-left: 0;
          margin-right: 0; }
        footer #visitekaartje #address {
          padding-left: 0px; } }
  @media (min-width: 1024px) {
    footer textarea {
      width: 661px;
      height: 165px; }
    footer #emailadres {
      width: 661px; }
    footer #socialMedia {
      margin-left: 509px;
      margin-right: 0; }
    footer #visitekaartje {
      float: left;
      margin-left: 750px; } }

/*# sourceMappingURL=style.css.map */
