.container{
	.landing{
		height: 100vh;
		width: 100%;
		.container-stukken{
			width: 250px;
    		height: 322px;
			margin: 0 auto;
			margin-top: 200px;
			position:relative;
			background-image: url(../../images/logo_ei.svg);
			.stuk1{
				background-image: url(../../images/stukken_ei/stuk1.svg);
				background-repeat:no-repeat;
				width: 100px;
				height: 78px;
				position: absolute;
				top: 10px;
				left: 10px;
			}
			.stuk2{
				background-image: url(../../images/stukken_ei/stuk2.svg);
			    background-repeat: no-repeat;
			    width: 98px;
			    height: 130px;
			    position: absolute;
			    top: 80px;
			    left: 4px;
			}
			.stuk3{
				background-image: url(../../images/stukken_ei/stuk3.svg);
				background-repeat: no-repeat;
			    width: 100px;
			    height: 74px;
			    position: absolute;
			    top: 79px;
			    left: 28px;
			}
			.stuk4{
				background-image: url(../../images/stukken_ei/stuk4.svg);
				background-repeat:no-repeat;
				width: 100px;
				height: 78px;
				position: absolute;
				top: 10px;
				left: 10px;
			}
			.stuk5{
				background-image: url(../../images/stukken_ei/stuk5.svg);
			    background-repeat: no-repeat;
			    width: 119px;
			    height: 147px;
			    position: absolute;
			    top: 5px;
			    left: 100px;
			}
		}
		
	}
}