.container{
	.landing{
		height: 200vh;
		width: 100%;
		background-image: url(../../images/bg_probeer-01.svg);
		background-repeat: no-repeat;
		background-position: cover;
		.container-stukken{
			width: 250px;
    		height: 322px;
			margin: 0 auto;
			position:fixed;
            left: 200px;
            top: 200px;
            font-size: 20px;
            color: white;
            left: -9999px;
			//margin-top: 200px;
			/*background-image: url(../../images/logo_ei.svg);
			background-repeat: no-repeat;*/
			#stuk1final{
				width: 93px;
			    height: 72px;
			    position: absolute;
			    top: 7px;
			    left: 29px;
			}
			#stuk1{
				background-image: url(../../images/stukken_ei/stuk1.svg);
				background-repeat:no-repeat;
				width: 93px;
			    height: 72px;
			    position: absolute;
			    transition: 0.1s/*cubic-bezier(.1,.56,.87,.35)*/;
			}
            #stuk2final{
				width: 98px;
			    height: 130px;
			    position: absolute;
			    top: 80px;
			    left: 4px;
			}
			#stuk2{
				background-image: url(../../images/stukken_ei/stuk2.svg);
			    background-repeat: no-repeat;
                width: 98px;
			    height: 130px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk3final{
				width: 100px;
			    height: 74px;
			    position: absolute;
			    top: 79px;
			    left: 28px;
			}
			#stuk3{
				background-image: url(../../images/stukken_ei/stuk3.svg);
				background-repeat: no-repeat;
			    width: 100px;
			    height: 74px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk4final{
			    width: 100px;
			    height: 110px;
			    position: absolute;
			    top: 7px;
			    left: 30px;
			}
			#stuk4{
				background-image: url(../../images/stukken_ei/stuk4.svg);
				background-repeat: no-repeat;
			    width: 100px;
			    height: 110px;
			    position: absolute;
			    transition: 0.1s/*cubic-bezier(.1,.56,.87,.35)*/;
			}
            #stuk5final{
			    width: 119px;
			    height: 147px;
			    position: absolute;
			    top: 5px;
			    left: 100px;
			}
			#stuk5{
				background-image: url(../../images/stukken_ei/stuk5.svg);
			    background-repeat: no-repeat;
			    width: 119px;
			    height: 147px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk6final{
			    width: 111px;
			    height: 119px;
			    position: absolute;
			    top: 39px;
			    left: 133px;
			}
			#stuk6{
				background-image: url(../../images/stukken_ei/stuk6.svg);    
			    background-repeat: no-repeat;
			    width: 111px;
			    height: 119px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk7final{
			    width: 95px;
			    height: 134px;
			    position: absolute;
			    top: 152px;
			    left: 6px;
			}
			#stuk7{
				background-image: url(../../images/stukken_ei/stuk7.svg);    
			    background-repeat: no-repeat;
			    width: 95px;
			    height: 134px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk8final{
			    width: 109px;
			    height: 137px;
			    position: absolute;
			    top: 151px;
			    left: 47px;
			}
			#stuk8{
				background-image: url(../../images/stukken_ei/stuk8.svg);    
			    background-repeat: no-repeat;
			    width: 109px;
			    height: 137px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk9final{
			    width: 59px;
			    height: 157px;
			    position: absolute;
			    top: 111px;
			    left: 100px;
			}
			#stuk9{
				background-image: url(../../images/stukken_ei/stuk9.svg);    
			    background-repeat: no-repeat;
			    width: 59px;
			    height: 157px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk10final{
			    width: 108px;
			    height: 104px;
			    position: absolute;
			    top: 111px;
			    left: 135px;
			}
			#stuk10{
				background-image: url(../../images/stukken_ei/stuk10.svg);    
			    background-repeat: no-repeat;
			    width: 108px;
			    height: 104px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk11final{
			    width: 80px;
			    height: 159px;
			    position: absolute;
			    top: 110px;
			    left: 133px;
			}
			#stuk11{
				background-image: url(../../images/stukken_ei/stuk11.svg);    
			    background-repeat: no-repeat;
			    width: 80px;
			    height: 159px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk12final{
			    width: 116px;
			    height: 54px;
			    position: absolute;
			    top: 267px;
			    left: 49px;
			}
			#stuk12{
				background-image: url(../../images/stukken_ei/stuk12.svg);    
			    background-repeat: no-repeat;
			    width: 116px;
			    height: 54px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk13final{
			    width: 100px;
			    height: 98px;
			    position: absolute;
			    top: 213px;
			    left: 153px;
			}
			#stuk13{
				background-image: url(../../images/stukken_ei/stuk13.svg);    
			    background-repeat: no-repeat;
			    width: 100px;
			    height: 98px;
			    position: absolute;
                transition: 0.1s;
			}
            #stuk14final{
			    width: 105px;
			    height: 159px;
			    position: absolute;
			    top: 151px;
			    left: 164px;
			}
			#stuk14{
				background-image: url(../../images/stukken_ei/stuk14.svg);    
			    background-repeat: no-repeat;
			    width: 105px;
			    height: 159px;
			    position: absolute;
                transition: 0.1s;
			}
		}
		
	}
}