header {
	width: 100%;
	// height: 70%;
	padding: 60px 0px;

	.left {

		h1 {
			font-family: $font1;
			font-size: 2rem;
			padding-left: 50px;
            padding-bottom: 40px;
			float: left;
		}
	}

	p {
		clear: both;
		font-family: $font3;
		padding: 0px 40px 20px 40px;
		font-size: 1rem;
		line-height: 1.6rem;
	}
    img{
        width: 150px;
        padding-left: 50px;
        padding-bottom: 40px;
        padding-right: 50px;
    }
}

.first_quote {
	width: 100%;
	height: 120px;
	// background-color: $color1;
	background-image: url(../../images/bg_quote.png);
	background-position: center center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	@extend %clearfix;

	p {
		color: white;
		width: 80%;
		font-size: 1.9rem;
		font-family: $font2;
		@extend %center;
		margin-top: 10px;

		span {
			font-family: $font1;
			font-size: 1.5rem;
			line-height: 2.2rem;
		}
	}

	&-line {
		height: 1.5px;
		background-color: white;
		width: 120px;
		margin-top: 15px;
		@extend %center;
	}
}


@media(min-width: $phone) and (max-width: $tablet) {
	header {
		// height: 350px;
	}
}

@media(min-width: $tablet) {
	header {
		.left {
			float: left;
			width: 40%;
		}

		.right {
			float: left;
			width: 57%;
			margin-right: 3%;
		}
	}
}


