.second_quote {
	width: 100%;
	height: 120px;
	// background-color: $color1;
	background-image: url(../../images/bg_quote.png);
	background-position: center center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;

	p {
		color: white;
		width: 80%;
		font-size: 1.9rem;
		font-family: $font2;
		@extend %center;
		margin-top: 5px;

		span {
			font-family: $font1;
			font-size: 1.5rem;
			line-height: 2.2rem;
		}
	}

	&-line {
		height: 1.5px;
		background-color: white;
		width: 120px;
		margin-top: 15px;
		@extend %center;
	}
}

.projecten {

	margin-bottom: 50px;

	.grid {

		@extend %center;
		width: 94%;
		font-size: 2rem;

		.grid-item { 
			width: 290px; 
			height: 300px;
			background-color: red;
			margin-right: 10px;
			margin-top: 10px;
		}

		.grid-item--width2 { 
			width: 590px; 
			height: 200px;
			background-color: blue;
			margin-right: 10px;
			margin-top: 10px;
		}
	}	
}













