/*PROCESLIJN*/
.watwedoen {
width: 100%;
height: 320px;
padding-top: 50px;
h3 {
font-family: $font1;
font-size: 0.8rem;
text-transform: uppercase;
padding: 10px 0px 10px 40px;
}

&-onderzoek {
font-size: 1rem;
padding-bottom: 10px;
padding: 10px 40px 0px 40px;
}
}

.watwedoen-werkwijze-werklijn {
margin: auto;
margin-bottom: -12px;
margin-top: 40px;
height: 10px;
width: 70%;
border-bottom: 1px black solid;
}

/*BOLLEN*/

.watwedoen-werkwijze{
margin: auto;
width: 70%;
text-align: justify;
}
.watwedoen-werkwijze div{
border-radius: 50%;
display: inline-block;
height: 20px; width: 20px;
transition:all 0.3s ease;
}
.bol:hover{
background-color: black;
}
.binbol{
float: none;
background-color: black;
color: lightgrey;
display: block;
text-align: center;
line-height: 20px;
font-size: 16px;
font-family: $font2;
cursor: pointer;
}
.binbol:hover{
-webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0.2;
    font-size: 10px;
    color: white;
}
.watwedoen-werkwijze:after {
content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
.ticked{
-webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 1;
    background-color: lightgrey;
    font-size: 10px;
    color: white;
}
.ticked>div{
-webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}
.ticked>div:hover{
-webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}
.ticked:hover{
background-color: lightgrey;
}

/*STAPWOORDEN*/

.stapwoorden{
margin: auto;
width: 70%;
text-align: justify;
float: none;
}

.stapwoorden div{
float: none;
display: inline-block;
height: 1px; width: 1px;
transition:all 0.3s ease;
color: black;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
}
.stapwoorden:after {
content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}


/*PROCESUITLEG*/

.watwedoen>div>div>p{
font-family: source_sans_prolight;
font-size: 1rem;
padding-bottom: 10px;
padding: 0px 40px 0 80px;
min-height: 60px;
line-height: 20px;
}
.watwedoen{
margin-bottom: 40px;
float: left;
height: auto;
}
.watwedoen>div>div>h3{
line-height: 34px;
}
.watwedoen>div>div>h3>span{
text-align: center;
font-family: $font2;
font-size: 22px;
background-color: black;
float: left;
padding: 3px;
width: 20px; height: 20px;
line-height: 20px;
color: white;
border-radius: 50%;
margin-right: 15px;
}
